@charset "utf-8";

// // Only use during theme development
// * {
//   border: solid 1px red;
// }

/*
  Aosheng specific customizations
*/
.body {
  margin: 0;
  padding: 0;

  // TODO: make this change depending on the screen size with JS
  //background: linear-gradient(to bottom, #ebebeb, #fdfdfd);
}

.captionFont {
  color: rgba(15, 15, 15, 0.5);
  letter-spacing: 0.1px;
}

.h2Font {
  font-size: 2em;
  color: rgb(15, 15, 15);
  font-weight: 500;
}

.header {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
  height: 110px;

  .header-left {
    height: 60px;
    width: 50%;
    float: left;
  }

  .header-right {
    height: 60px;
    width: 50%;
    float: right;
  }

  .links {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      height: 20px;
    }

    a {
      color: rgb(15, 15, 15);
      transition: color 0.5s linear;
    }

    a:hover {
      color: #262626;
      text-decoration: none;
      transition: color 0.5s linear;
    }

    .name {
      font-weight: bold;
    }
  }

  .beta {
    color: rgba(15, 15, 15, 0.5);
  }

}

.quote {

  font-size: 2em;
  line-height: 35px;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;

  .quote-attribution {
    font-size: 14px;
    font-weight: 500;
    color: rgba(15, 15, 15, 0.5);
    padding-bottom: 40px;
  }
}

.content {
  margin: 0;
  padding: 0;

  .featured-image{
    width: 100%;
  }

  .post {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 240px;
    overflow: hidden;

    .post-date {
      height: 20px;
      margin-bottom: 5px;
    }

    .post-title {
      margin-bottom: 5px;
    }

    .post-excerpt {
      margin-bottom: 5px;
      line-height: 20px;
      letter-spacing: 0.1px;
    }
}

@media (min-width:1024px) {
  .sideBar {
    display: block;
    height: 400px;
    width: 170px;
    position: fixed;
    top: 150px;
    right: 120px;
  }

  .navBar {
    display: none;
  }
}

.fixedName {
  width: 150px;
  position: absolute;
  top: 150px;
  right: 0;
  transform: rotate(90deg);
  transform-origin: right top 0;
  float: right;
}

.fixedBetaText {
  position: absolute;
  bottom: -15px;
  left: 0;
}

.fixedLogoImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
}

.fixedLinks {

  position: absolute;
  left: 0;
  top: 200px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
  }
}
// Define defaults for each variable.

$base-font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   14px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "bootstrap",
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
