@charset "utf-8";

// // Only use during theme development
// * {
//   border: solid 1px red;
// }

/*
  Aosheng specific customizations
*/
.body {
  margin: 0;
  padding: 0;
}

.header {

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  
  .name {
    font-size: .75em;
    font-weight: 500;
    color: #262626;
  }

  .links {

    font-size: .75em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      padding-right: 8px;
    }

    a {
      color: rgba(15, 15, 15, 0.5);
      transition: color 0.5s linear;
    }

    a:hover {
      color: #262626;
      text-decoration: none;
      transition: color 0.5s linear;
    }
  }
}

.sideBar {
  background-color: purple;
  display: none;
}

.content {
  background-color: green;
  margin: 0;
  padding: 0;

  .post {
    background-color: red;
    padding: 16px;
    height: 200px;
    overflow: hidden;
  }
}

@media (min-width:1024px) {
  .sideBar {
    display: block;
    height: 400px;
    width: 170px;
    position: fixed;
    top: 150px;
    right: 120px;
  }

  .navBar {
    display: none;
  }
}

.fixedName {
  width: 150px;
  position: absolute;
  top: 150px;
  right: 0;
  transform: rotate(90deg);
  transform-origin: right top 0;
  float: right;
}

.fixedBetaText {
  position: absolute;
  bottom: -15px;
  left: 0;
}

.fixedLogoImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
}

.fixedLinks {

  position: absolute;
  left: 0;
  top: 200px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
  }
}
// Define defaults for each variable.

$base-font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "bootstrap",
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
