.captionFont {
  color: rgba(15, 15, 15, 0.5);
  letter-spacing: 0.1px;
  line-height: 20px;
}

.header {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
  height: 110px;

  @media (min-width:1024px) {
    padding-top: 36px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .header-left {
    height: 60px;
    width: 50%;
    float: left;
  }

  .header-right {
    height: 60px;
    width: 50%;
    float: right;
  }

  .links {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      height: 20px;
    }

    .name {
      font-weight: bold;
    }
  }

  .alpha {
    color: rgba(15, 15, 15, 0.5);
  }

  @media (min-width: 1280px) {
    height: 260px;
    width: 50%;
    padding-top: 36px;
    padding-left: 40px;
    padding-right: 0;
    float: left;
  }

}

.quote {

  font-size: 2em;
  line-height: 35px;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;

  @media(min-width: 1024px) {
    margin-left: 40px;
    margin-right: 40px;
  }

  @media(min-width: 1280px) {
    height: 260px;
    width: 50%;
    margin-right: 0;
    margin-left: 0;
    padding-top: 31px;
    float: right;
  }

  .quote-attribution {
    font-size: 14px;
    color: rgba(15, 15, 15, 0.5);
    letter-spacing: 0.1px;
    padding-bottom: 40px;
  }
}

.home {
  height: 240px;
}

.content {
  margin: 0;
  padding: 0;

  .featured-image{
    width: 100%;
  }

  .post {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    //font-size: 0.64em;

    h2 {
      font-size: 1.28em;
      line-height: 30px;
      letter-spacing: 0.1px;
      margin-top: 40px;
    }

    h3 {
      font-size: 1em;
      line-height: 20px;
      letter-spacing: 0.1px;
      margin-top: 20px;
      font-weight: 600;
    }

    .post-date {
      height: 20px;
      letter-spacing: 0.1px;
      margin-bottom: 10px;
    }

    .post-title {
      margin-bottom: 10px;
      font-size: 2em;
      color: #262626;
      line-height: 35px;
      font-weight: 500;
    }

    .post-excerpt {
      margin-bottom: 5px;
      line-height: 20px;
      letter-spacing: 0.1px;
    }
  }

  @media (min-width: 1024px) {
    .featured-image {
      width: auto;
      margin-left: 40px;
      margin-right: 40px;
    }

    .post {
      padding-top: 55px;
      padding-left: 40px;
      padding-right: 40px;

      h2 {
        font-size: 2em;
        line-height: 35px;
        margin-top: 100px;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 1.28em;
        line-height: 30px;
        letter-spacing: 0.1px;
        margin-top: 50px;
        font-weight: 600;
      }

      post-title {
        margin-bottom: 20px;
        font-size: 4em;
        color: #262626;
        line-height: 70px;
        font-weight: 500;
      }

      p.post-body {
        font-size: 1.28em;
        line-height: 30px;
        letter-spacing: 0.15px;
      }
    }


  }

  @media (min-width: 1280px) {
    margin-left: 40px;
    margin-right: 40px;

    .post {
      padding-left: 0;
      padding-right: 0;

      .post-title {
        margin-top: -5px;
        margin-bottom: 20px;
        font-size: 2em;
        color: #262626;
        line-height: 35px;
        font-weight: 500;
      }

    }
    
    .featured-image {
      margin-left: 25%;
      margin-right: 9%;
    }

    .post-date {  
      float: left;
      width: 16%;
      margin-left: 9%;
    }

    .post-title {
      width: 33%;
      float: left;
      padding-right: 20px;
    }

    .post-excerpt {
      width: 33%;
      float: left;
    }

    .workPost {
      padding-left: calc(25% + 40px);
      padding-right: 9%;

      .post-date {
        position: absolute;
        margin-left: 0;
        letter-spacing: 0.1px;
        left: 42px;
        top: 332px;
      }

      .post-title {
        width: auto;
        padding-right: 0;
        float: none;
        padding-bottom: 20px;
        margin-bottom: 0;
        font-size: 4em;
        line-height: 70px;
      }

      .post-body {
        width: 87.5%;
        font-size: 1.28em;
        letter-spacing: 0.15px;
        line-height: 30px;
      }
    }
  }
}

.workHeader {
  height: 185px;

  @media (min-width: 1280px) {
    width: 100%;
  }
}

.workContent {
  @media (min-width: 1280px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.workTitle {
  @media (min-width: 1024px) {
        margin-bottom: 20px;
        font-size: 4em;
        color: #262626;
        line-height: 70px;
        font-weight: 500;
  }
}

.pageNavigation {

  .older {
    float: right;
  }

  .newer {
    float: left;
  }

  height: 200px;
}