<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="body">

      <!-- mobile only -->
      <div class="header">
        <span class="name">Aosheng Ran</span>

        <div class="links">
          <ul>
            <li>
              <a href="#">Works</a>
            </li>
            <li>
              <a href="#">Articles</a>
            </li>
            <li>
              <a href="#">Thoughts</a>
            </li>
          </ul>
        </div>
      </div>
      
      <!-- non mobile only -->
      <div class="sideBar">
        hi
      </div>

      <div class="content">
          {{ content }}
      </div>

    </div>
  
  </body>
</html>




      <div class="top">

        <!-- navbar (mobile only) -->
        <div class="container navBar">
            Aosheng Ran
    
            Links
            Links
            Links
    
            Logo
        </div>

      </div>

      <!-- fixed sidebar -->
      <div class="sideBar">

          <p class="fixedName">
              Aosheng Ran
            </p>
            <div class="fixedLinks">
              <ul>
                  <li>
                      <a href="#">Works</a>
                  </li>
                  <li>
                      <a href="#">Articles</a>
                  </li>
                  <li>
                      <a href="#">Thoughts</a>
                  </li>
              </ul>
            </div>
            <p class="fixedBetaText">
              Beta
            </p>
            <img class="fixedLogoImage" src="{{ "/assets/images/logo.png" }}">
      </div>

      <div class="content">
          {{ content }}
      </div>

  </body>

</html>
