<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="body">

      <!-- mobile only -->
      <div class="header">
        <div class="header-left">
            <div class="links">
                <ul>
                  <li>
                    <a class="name" href="#">Aosheng Ran</a>
                  </li>
                  <li>
                    <a href="#">about + contact</a>
                  </li>
                  <li>
                    <span class="beta">beta</span>
                  </li>
                </ul>
              </div>
        </div>

        <div class="header-right">
            <div class="links">
                <ul>
                  <li>
                    <a href="#">work</a>
                  </li>
                  <li>
                    <a href="#">articles</a>
                  </li>
                  <li>
                    <a href="#">thoughts</a>
                  </li>
                </ul>
              </div>
        </div>
      </div>
      
      <!-- non mobile only -->
      <div class="content">
          {{ content }}
      </div>

    </div>
  
  </body>
</html>

  </body>

</html>
