---
layout: default
---

{{ content }}

{% for post in site.posts %}

  <div class="featured-image">
    <a class="moreOpacity" href="{{ post.url }}"><img src="{{ post.featured-image }}"></a>
  </div>

  <div class="post">

    <div class="post-date captionFont">
      {{ post.date | date: '%b %d, %Y'}}
    </div>

    <div class="post-title">
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
    </div>

    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
  </div>

{% endfor %}
