---
layout: default
---

{{ content }}

<div class="quote">
  Ah, good taste, what a dreadful thing!
  <br />
  Taste is the enemy of creativity.
  <br />
  <div class="quote-attribution">
      &mdash; Pablo Picasso
  </div>
</div>

{% for post in site.posts %}

  <div class="featured-image">
    <img src="{{ post.featured-image }}">
  </div>

  <div class="post">

    <div class="post-date captionFont">
      {{ post.date }}
    </div>

    <div class="post-title h2Font">
      {{ post.title }}
    </div>

    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
  </div>

{% endfor %}
