---
layout: work
---

<div class="post workPost">

  <div class="post-date captionFont">
    {{ page.date | date: '%b %d, %Y'}}
  </div>

  <div class="post-title workTitle">
    {{ page.title }}
  </div>

  <div class="post-body">
    {{ content }}
  </div>

  <div class="pageNavigation">
    {% if page.next.url %}
      <a class="newer" href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
    {% endif %}

    {% if page.previous.url %}
      <a class="older" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
    {% endif %}
  </div>
  
</div>